/* Carlito */

@font-face {
  font-family: 'Carlito';
  src: url('/static/fonts/Carlito.woff2') format('woff2'),
      url('/static/fonts/Carlito.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Carlito';
  src: url('/static/fonts/Carlito-Bold.woff2') format('woff2'),
      url('/static/fonts/Carlito-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

/* Alegreya */

@font-face {
  font-family: 'Alegreya';
  src: url('/static/fonts/Alegreya-Bold.woff2') format('woff2'),
      url('/static/fonts/Alegreya-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}
