:root {
  /* Colors */
  --color-primary: #64808e;
  --color-primary-dark: #002e46;
  --color-secondary: #e07361;
  --color-secondary-light: #f06c79;
  --color-secondary-dark: #f04c59;
  --color-black: #333333;
}
