.skillsGroup {
  margin-bottom: 3rem;
}

.skill {
  margin: 1.5rem 0;
  min-height: 80px;
}

.logo {
  float: left;
  margin-right: 1rem;
  width: 80px;
  height: 80px;
}
@media (min-width: 60rem) {
  .logo {
    margin-right: 2.5rem;
  }
}

.title {
  font-size: 1.5rem;
  font-weight: bold;
}

.subtitle {
  font-size: 1.25rem;
  font-weight: bold;
}

.p {
  margin: 0.5rem 0;
}
