.header {
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5);
  background-color: rgba(255, 255, 255, 0.97);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  text-align: center;
  min-width: 320px;
}

.titles {
  height: 6rem;
  box-sizing: border-box;
}
.titlesEnter {
  opacity: 0;
  height: 0rem;
}
.titlesEnterActive {
  opacity: 1;
  transition: opacity 200ms, height 200ms;
  height: 6rem;
}
.titlesExit {
  opacity: 1;
  height: 6rem;
}
.titlesExitActive {
  opacity: 0;
  transition: opacity 200ms, height 200ms;
  height: 0rem;
}

.mainTitle {
  font-family: 'Alegreya';
  font-size: 2.1rem;
  margin-bottom: 0.1rem;
  padding-top: 1rem;
}
.subtitle {
  font-weight: normal;
  font-size: 1.2rem;
}

.nav {
  display: flex;
  justify-content: space-around;
  font-size: 1.2rem;
  color: #555555;
  padding-bottom: 4px;
  max-width: 60rem;
  margin: auto;
  margin-top: 0.5rem;
}
.navLink {
  padding-bottom: 3px;
  border-bottom: 3px solid transparent;
}
.activeNavLink {
  composes: navLink;
  color: black;
  border-bottom-color: black;
}
