.header {
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5);
  background-color: rgba(255, 255, 255, 0.97);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  text-align: center;
}

.titles {
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.mainTitle {
  font-family: 'Alegreya';
  font-size: 2.2rem;
  margin-bottom: 0.3rem;
}
.subtitle {
  font-weight: normal;
  font-size: 1.2rem;
}

.nav {
  display: flex;
  justify-content: space-around;
  font-size: 1.2rem;
  color: #555555;
  padding-bottom: 4px;
  max-width: 1400px;
  margin: auto;
  margin-top: 1rem;
}
.navItem {
  min-width: 110px;
}
.navLink {
  padding-bottom: 3px;
  border-bottom: 3px solid transparent;
}
.activeNavLink {
  composes: navLink;
  color: black;
  border-bottom-color: black;
}
