/* Carlito */

@font-face {
  font-family: 'Carlito';
  src: url('/fonts/Carlito.woff2') format('woff2'),
      url('/fonts/Carlito.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Carlito';
  src: url('/fonts/Carlito-Bold.woff2') format('woff2'),
      url('/fonts/Carlito-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

/* Alegreya */

@font-face {
  font-family: 'Alegreya';
  src: url('/fonts/Alegreya-Bold.woff2') format('woff2'),
      url('/fonts/Alegreya-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

/* DroidSans */

@font-face {
  font-family: 'DroidSansMono';
  src: url('/fonts/DroidSansMono.woff2') format('woff2'),
      url('/fonts/DroidSansMono.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'DroidSans';
  src: url('/fonts/DroidSans.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

.hljs {
  font-family: DroidSans, Consolas, Liberation Mono, Menlo, monospace;
  line-height: 1.2rem;
  letter-spacing: 0.02rem;
  padding: 1rem !important;
}

